.calculator {
	display: grid;
	height: 50vw;
	max-height: 100%;
	width: 37.5vw;
	max-width: 100%;
	margin: auto;
	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: repeat(4, 1fr);
}

	/* OUTPUT SCREEN
	------------------------------- */
	.output {
		grid-column-start: 1;
		grid-column-end: 5;
		display: flex;
		width: 100%;
		padding: 1em 0.62em;
		justify-content: center;
		align-items: center;
		background-color: var(--color__bg__output);
	}


	/* BUTTON RESTING STYLES
	------------------------------- */
	.button {
		padding: 1em;
		outline: 0;
		position: relative;
		color: var(--color__text);
		text-shadow: 1px 1px 0 black;
		transform: scale(1);
		transition: transform .15s,
					background-color .15s,
					outline .15s;
	}

	.button.number {
		color: var(--color__text__light);
		background-color: var(--color__bg__button__number);
	}

	.button.function,
	.button.operator {
		color: var(--color__text__light);
		background-color: var(--color__bg__button__function);	
	}

	.button.function.clear,
	.button.function.clear:hover {
		background-color: var(--color__bg__danger);
	}

	/* BUTTON STATES
	----------------------------- */
	.button:not(:disabled):hover,
	.button.number:hover,
	.button.function:not(:disabled):hover,
	.button.operator:hover {
		outline: 0;
		z-index: 2;
		transform: scale(1.2);
		background-color: var(--color__action);
		box-shadow: 0 0 0.62em 0em rgba(0,0,0,0.5);
	}

	.button:not(:disabled):focus,
	.button.number:focus,
	.button.function:not(:disabled):focus,
	.button.operator:focus {
		outline: 0.2em solid var(--color__action);
		z-index: 1;
	}

	.button:not(:disabled):active,
	.button.number:active,
	.button.function:not(:disabled):active,
	.button.operator:active {
		outline: 0;
		z-index: 1;
		transform: scale(1.1);
		background-color: var(--color__action);
	} 

	.button:not(:disabled):hover {
		cursor: pointer;
	}

	.button:disabled {
		color: var(--color__bg__button__disabled);
		text-shadow: 
			1px 1px 0px var(--color__text),
			-1px -1px 0px var(--color__accent);
		background-color: var(--color__bg__button__disabled);
	}

	/* NUMPAD LAYOUT
	----------------------------- */
	.button.zero {
		grid-column: 1 / 3;
		grid-row: 6 / 7;
	}
	.button.submit {
		grid-column: 4 / 5;
		grid-row: 5 / 7;
	}
	.button.add {
		grid-column: 4 / 5;
		grid-row: 3 / 5;
	}
	.button.subtract {
		grid-column: 4 / 5;
		grid-row: 2 / 3;
	}
	.button.multiply {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	}
	.button.divide {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
	.button.mrc {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	.button.madd {
		grid-column: 1 / 3;
		grid-row: 7 / 8;
	}
	.button.mremove {
		grid-column: 3 / 5;
		grid-row: 7 / 8;
	}