.calculator {
	display: grid;
	height: 50vw;
	width: 37.5vw;
	margin: auto;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(4, 1fr);
}
	/* OUTPUT SCREEN
	------------------------------- */
	.output {
		grid-column-start: 1;
		grid-column-end: 5;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		background-color: #ddd;
	}
	/* BUTTON STYLES
	------------------------------- */
	.button {
		padding: 1em;
		color: var(--color__text);
		background-color: #ccc;
	}
	.button:not(:disabled):hover {
		cursor: pointer;
		background-color: #bbb;	
	}
	.button:disabled {
		opacity: 0.5;
		background-color: #eee;
	}

	.button.zero {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 4;
		grid-row-start: 6;
	}
	.button.submit {
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 5;
		grid-row-end: 7;
	}