/* VARIABLE DEFINTIONS
---------------------- */
:root {
	--color__text: #222;
	--color__accent: #ccc;
	--color__action: #5e76d6;
	--color__bg: #fafafa;
	--color__bg__button__number: #222;
	--color__bg__button__function: #444;
	--color__bg__button__disabled: #888;
	--color__text__light: #eee;
	--color__bg__danger: #cc3131;
	--color__bg__output: #ddd;
}

/* ELEMENTS
--------------------- */
html {
	color: var(--color__text);
	background-color: var(--color__bg);
}

h1 {
	color: var(--color__accent);
}

a:link,
a:visited {
	color: var(--color__action);
}