/* SPACING
-------------------------*/
p + p {
	margin-top: 0.62em;
}
h1 {
	margin-bottom: 0.62em;
}

/* ELEMENTS
-----------------------*/
html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p a:link,
p a:visited {
	display: inline-block;
	padding: 0.62em 1em;
	border: 0.15em solid var(--color__action);
	margin: 0 0.25em;
	font-weight: bold;
	text-decoration: none;
	color: var(--color__bg);
	background-color: var(--color__action);
	transition: background-color .3s,
				color .3s;
}
p a:link:hover,
p a:visited:hover {
	color: var(--color__action);
	background-color: transparent;
}

.wrapper {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}